:root {
  --secondary-color: #f2f4f5;
  --bg-pink: #e0004d;
}

/* ====== Global setting  ======== */

body {
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  /* color: #666; */
}

/* ====== Reuseable  class ======== */

.w-150 {
  width: 150px;
}
.cus-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 40px;
  grid-auto-flow: row;
}

.cus-d-flex {
  display: block;
}
.cus-justify-between {
  display: flex;
  justify-content: space-between;
}
.cus-align-items-center {
  align-items: center;
}
.cus-d-flex {
  display: flex;
}

.hidden {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}
.visible {
  opacity: 1;
  max-height: 100%;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.triangle-up-one,
.triangle-up-two {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 20px solid #555;
  position: absolute;
}

.cus-container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.cus-container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.cus-divider {
  color: #dee2e4;
}
/* ======== custom Buttons    ======== */

.cus-login-btn {
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #7b7a7a;
  background: #fff;
  color: #666;
}
.cus-apply-btn {
  padding: 10px 20px;
  border-radius: 4px;
  background: var(--bg-pink);
  color: #fff !important;
}
/* ======== custom colors    ======== */
.cus-bg-secondary {
  background-color: var(--secondary-color);
}
.cus-text-black {
  color: #000 !important;
}
.cus-text-gray {
  color: #333 !important;
}

/* ======== Typology     ======== */

.cus-gap {
  gap: 40px;
}
.cus-gap-1 {
  gap: 10px;
}
.cus-gap-2 {
  gap: 20px;
}
.cus-gap-4 {
  gap: 40px;
}
.cus-gap-5 {
  gap: 50px;
}
.cus-gap-6 {
  gap: 60px;
}
.cus-gap-10 {
  gap: 100px;
}
.cus-p-2 {
  padding: 20px;
}
.cus-p-4 {
  padding: 40px;
}
.cus-p-5 {
  padding: 50px;
}
.cus-pt-2 {
  padding-top: 20px;
}
.cus-pt-4 {
  padding-top: 40px;
}
.cus-text-12 {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  color: #666;
  line-height: 16px;
}
.cus-text-xs {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.cus-text-sm {
  color: #666;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.cus-text-md {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.cus-text-lg {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
/* ======== Navbar style  ======== */

nav {
  background: #fff;
  padding: 10px 0;
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}

nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav .nav-container ul li {
  float: left;
  text-align: center;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
}

/* ======== Mega menu  style  ======== */

.mega-menu-cont {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  margin-top: 10px;
  background-color: #fff;
  width: 100%;
  box-shadow: 0px -12px 18px rgba(0, 0, 0, 0.3),
    0px 12px 18px rgba(0, 0, 0, 0.3);
}
.mega-menu-cont h4:hover {
  color: var(--bg-pink);
}

.mega-menu-col-two a:hover p {
  color: var(--bg-pink) !important;
}
/* 
.mega-menu-col-two:hover a svg {
  fill: var(--bg-pink) !important;
} */

/* .mega-menu-col-two-item:hover .color-change-svg {
  fill: var(--bg-pink) !important;
  stroke: var(--bg-pink) !important;
} */
.mega-menu-col-two a:hover .color-change-svg {
  fill: var(--bg-pink) !important;
}
.mega-menu-item-left {
  padding-left: 20%;
}
.mega-menu-item-right {
  padding-right: 20%;
}

/* ======== Mobile  menu  style  ======== */
.hamburger {
  cursor: pointer;
}
.mobile-menu {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out, opacity 0.4s ease-out;
  background-color: #fff;
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 8%;
  left: 0;
  right: 0;
}
.mobile-menu h2 {
  background-color: #f7f7f7;
  padding: 10px 16px;
}

.mobile-menu ul,
.sub-menu ul {
  margin: 0 20px;
}
.mobile-menu ul li,
.sub-menu ul li {
  list-style: none;
  cursor: pointer;
}
.mobile-menu ul li,
.sub-menu ul li {
  margin: 8px 0 15px -38px;
  padding: 10px 20px;
}
.sub-menu {
  position: relative;
}
.mobile-menu ul li:hover {
  background-color: #eee;
}

.plus-svg,
.close-svg {
  cursor: pointer;
}
.sub-menu {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out, opacity 0.4s ease-out;
}
.close-svg {
  display: none;
}

/* ======= Style for footer section  ============ */

footer {
  padding: 60px 0;
  background-color: #fff;
}

.footer-root-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 50px;
  grid-auto-flow: row;
}
.footer-grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 50px;
  grid-auto-flow: row;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer ul li {
  padding-bottom: 20px;
}
footer ul li a {
  color: var(--bg-pink);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  padding-bottom: 12px;
}

footer p {
  color: #484747;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

footer .social-icons {
  display: flex;
  gap: 25px;
}
footer .social-icons img {
  height: 25px;
  width: 25px;
  color: red;
}

footer .footer-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ======= Responsive ============ */

@media only screen and (max-width: 600px) {
  .nav-middle,
  .nav-end {
    display: none;
  }
  nav .hamburger {
    display: block;
  }
  .mobile-menu {
    top: 80px;
  }
  /* nav {
    box-shadow: 0px 12px 18px -6px #fff;
  } */

  .mega-menu-cont {
    display: none !important;
  }
  .footer-root-div {
    grid-template-columns: 1fr;
    gap: 50px 0px;
  }
  .footer-grid-3 {
    grid-template-columns: 1fr;
    gap: 20px 0;
  }
  footer .footer-end {
    display: block;
  }
}

@media only screen and (min-width: 600px) {
  .cus-container {
    max-width: 540px;
  }

  .nav-middle,
  .nav-end {
    display: none;
  }
  .mega-menu-cont {
    display: none !important;
  }
  .mobile-menu {
    top: 80px;
  }
  .footer-root-div {
    grid-template-columns: 1fr;
    gap: 50px 0px;
  }
  .footer-grid-3 {
    grid-template-columns: 1fr;
    gap: 20px 0;
  }
}
@media (min-width: 768px) {
  .cus-container {
    max-width: 720px;
  }
  .footer-root-div {
    grid-template-columns: 1fr;
    gap: 50px 0px;
  }
  .footer-grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 20px;
  }
}
@media (min-width: 992px) {
  .cus-container {
    max-width: 960px;
  }

  .mega-menu-item-left {
    padding-left: 4%;
  }
  .mega-menu-item-right {
    padding-right: 4%;
  }
  .footer-root-div {
    grid-template-columns: 1fr 1fr;
  }
  .footer-grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 20px;
  }
}

/* @media (min-width: 1024px) and (min-height: 768px) {
  .mobile-menu {
    top: 11%;
  }
} */
/* @media (min-width: 1024px) and (min-height: 1366px) {
  .mobile-menu {
    top: 6%;
  }
} */
@media (min-width: 1200px) {
  .cus-container {
    max-width: 1140px;
  }
  .cus-container-fluid {
    max-width: 1200px;
  }
  .mega-menu-cont {
    display: block !important;
  }
  .mobile-menu {
    display: none !important;
  }

  .mega-menu-item-left {
    padding-left: 20%;
  }
  .mega-menu-item-right {
    padding-right: 20%;
  }
  .nav-middle,
  .nav-end {
    display: block;
  }
  nav .hamburger {
    display: none;
  }

  .mega-menu-item-left {
    padding-left: 9%;
  }
  .mega-menu-item-right {
    padding-right: 9%;
  }
  .triangle-up-one {
    left: 30%;
  }
  .triangle-up-two {
    left: 41%;
  }
}
@media (min-width: 1500px) {
  .mobile-menu {
    display: none !important;
  }
  .mega-menu-item-left {
    padding-left: 20%;
  }
  .mega-menu-item-right {
    padding-right: 20%;
  }
  .triangle-up-one {
    left: 36%;
  }
  .triangle-up-two {
    left: 43%;
  }
}
